<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
  <img src="/images/logo/finishline-concrete-favicon.png" 
       alt="Finishline Excavation & Concrete Logo"
       height="40"
       class="me-2">
  <span class="fw-bold">Finishline</span>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/service-area/">Service Area</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                Projects
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/projects/concrete-pojects/">Concrete Projects</a></li>
                <li><a class="city-link disabled" href="/projects/excavation-projects/">Excavation Projects</a></li>
            </ul>
            </li>
        <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
        <li class="nav-item">
          <a class="btn btn-warning ms-3" href="/contact/">Request Free Estimate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>